@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 16px;
  padding-bottom: 16px;
}

@layer utilities {
  .btn-shadow {
    box-shadow:
      rgba(255, 255, 255, 0.35) 0px -3px 1px 0px inset,
      rgba(0, 0, 0, 0.043) 0px 0.241451px 0.241451px 0px,
      rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
  }
  .container-shadow {
    box-shadow:
      inset 0 -3px #0000000d,
      inset 0 0 0 2px #fff,
      inset 0 4px 2px #0000000f,
      inset 0 0 24px 4px #0000000a,
      0 1px 3px #0000001f;
  }
}
